.text { margin: 1rem 0; }

.text-size--small { font-size: var(--font-small); }

.text-size--medium { font-size: var(--font-medium); }

.text-size--large { font-size: var(--font-large); }

.text-alignment--left { text-align: left; }

.text-alignment--center { text-align: center; }

.text-alignment--right { text-align: right; }

.text-alignment--justify { text-align: justify; }