{
  "presets": [
    [
      "env",
       {
        "modules": false,
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-es2015-modules-commonjs",
    "syntax-dynamic-import",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", { "modules": "commonjs" }]
      ],
      "plugins": [
        "transform-class-properties",
        "dynamic-import-node"
      ]
    }
  }
}
