.flex-display--flex { display: flex; }
.flex-display--inline-flex { display: inline-flex; }

.flex-direction--row { flex-direction: row; }
.flex-direction--column { flex-direction: column; }
.flex-direction--row-reverse { flex-direction: row-reverse; }
.flex-direction--column-reverse- { flex-direction: column-reverse; }

.flex-wrap--wrap { flex-wrap: wrap; }
.flex-wrap--nowrap { flex-wrap: nowrap; }

.flex-alignment--flex-start { align-items: flex-start; }
.flex-alignment--center { align-items: center; }
.flex-alignment--flex-end { align-items: flex-end; }
.flex-alignment--baseline { align-items: baseline; }
.flex-alignment--stretch { align-items: stretch; }

.flex-justify--flex-start { justify-content: flex-start; }
.flex-justify--center { justify-content: center; }
.flex-justify--flex-end { justify-content: flex-end; }
.flex-justify--space-around { justify-content: space-around; }
.flex-justify--space-between { justify-content: space-between; }
.flex-justify--space-evenly { justify-content: space-evenly; }
