/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Asap|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
  box-sizing: border-box;
}

/* CSS Variables */
:root {
  /* Colors */
  --white: #ffffff;
  --black: #000000;
  --lightGray: #e3e3e3;
  --darkGray: #646464;
  --primary: #4030e8;
  --primaryLight: #4030ff;
  --secondary: #ff9900;

  /* Font size */
  --font-small: 0.9rem;
  --font-medium: 1.2rem;
  --font-large: 2.5rem;
}

body {
  margin: 0;
  font-family: Asap, sans-serif;
  color: var(--darkGray);
  background-color: var(--lightGray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: Oswald, sans-serif;
}
